@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@plugin 'rocketicons/tailwind';
@plugin 'daisyui' {
	themes:
		daog-light --default,
		daog-dark --prefersdark;
}

@config "../tailwind.config.js";

@theme {
	--font-grenze: 'Grenze', 'serif';
	--font-cabin: 'Cabin', 'sans-serif';
	--color-background: oklch(21% 0.006 56.043);
	--color-card: oklch(26% 0.007 34.298);
	--color-tile: oklch(37% 0.01 67.558);
	--color-greyish: oklch(71.37% 0.0192 261.32);
	--color-base-content: oklch(97% 0.001 106.424);
	--color-primary: oklch(70.7% 0.19701077968484998 306.62917069511036);
	--color-primary-content: oklch(21% 0.006 56.043);
	--color-secondary: oklch(40% 0.17 325.612);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(78.485% 0.18374 126.64);
	--color-accent-content: oklch(21% 0.006 56.043);
	--color-neutral: oklch(44% 0.011 73.639);
	--color-neutral-content: oklch(71.61% 0.0091 56.26);
	--color-info: oklch(68.01% 0.1583 276.93);
	--color-info-content: oklch(21% 0.006 56.043);
	--color-success: oklch(72% 0.219 149.579);
	--color-success-content: oklch(21% 0.006 56.043);
	--color-warning: oklch(73.14% 0.18259476626871804 50.63107616167181);
	--color-warning-content: oklch(21% 0.006 56.043);
	--color-error: oklch(63.68% 0.2078 25.33);
	--color-error-content: oklch(21% 0.006 56.043);
	--color-pirategold: oklch(74.93% 0.1556 72.22);
	--color-iron: oklch(85.46% 0 233.66);
	--btn-text-case: 'uppercase';
	--radius-selector: 2rem;
	--radius-field: 1rem;
	--radius-box: 2rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}
